h1{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 50px;
}
h2{
  margin-top: -10px;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 251, 8);
  font-size: 30px;
}
p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #fff;
}

ion-card{
  background: rgba(114, 113, 114, 0.33);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(161, 161, 161, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0px solid rgba(255, 255, 255, 0.3);
}
.card{
  margin-top: -10px;
  text-align: center;
}
i{
  scale: 200%;
}.row i{
  color: #fff;
  scale : 250%;
  margin-left: 20px;
}
.row p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #fff;
}
.row{
  margin-top: -25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.irow{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.irow i{
  margin-top: 10px;
  margin-bottom: 25px;;
  scale : 200%;
  color: rgb(5, 226, 255)
}

ion-fab{
  color: #fff;
  ion-fab-button{
    color: #fff;
  }
}
