
<ion-content [fullscreen]="true">
  <div class="card">
    <h1>Today</h1>
    <p>{{today | date:'fullDate'}}</p>
  </div>
  <ion-card *ngFor = "let item of todoList">
    <ion-card-header>
      <h2>{{item.itemCategory}}</h2>
    </ion-card-header>
    <div class = "row">
      <i class="ri-quill-pen-line"></i>
      <p>{{item.itemName}}</p>
    </div>

    <div class="irow">
      <i class="ri-share-line"></i>
      <i class="ri-delete-bin-line"></i>
      <i class="ri-check-double-line"></i>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <i class="ri-user-line" ></i>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="buttonadd">
      <i class="ri-add-line"></i>
    </ion-fab-button>
  </ion-fab>
</ion-content>
